<md-content layout-gt-sm="row" layout-padding layout-align="center center">
<md-card>
<md-card-title layout-align="end" >
<md-icon md-font-icon="ion-social-html5 s28" md-colors=" {color: 'red'}"></md-icon>
<md-icon md-font-icon="ion-social-css3-outline s28" md-colors=" {color: 'blue'}"></md-icon>
<md-icon md-font-icon="ion-social-nodejs s28" md-colors=" {color: 'orange'}"></md-icon>
<md-icon md-font-icon="ion-social-sass s28" md-colors=" {color: 'pink'}"></md-icon>
<md-icon md-font-icon="ion-social-angular s28" md-colors=" {color: 'red'}"></md-icon>
<md-icon md-font-icon="ion-social-android s28" md-colors=" {color: 'green'}"></md-icon>
</md-card-title>
<md-card-content layout-padding>
<div layout="row" layout-align="center center" >
	<img src="img/im_acerca.png"  />
</div>
<p>
	Sistema de gestion, almacenamiento y transferencia de comprobantes
	electronicos.
</p>
<p class="negrilla">Caracteristicas:
</p>
<p>
	<i class="ion-checkmark iconoLista" ></i> 100% adaptable a todo dispositivo.<br/>
	<i class="ion-checkmark iconoLista" ></i> Almacenamiento en la Nube.<br/>
	<i class="ion-checkmark iconoLista" ></i> Integracion con Sistemas Contables, ERP.<br/>
	<i class="ion-checkmark iconoLista" ></i> Envio automatico de los comprobantes al correo del cliente.<br/>
	<i class="ion-checkmark iconoLista" ></i> Portal para que sus clientes puedan descargar sus facturas.<br/>
	<i class="ion-checkmark iconoLista" ></i> Descarga y Subida de Documentos Visor Ride XML, PDF.<br/>
</p>
<p>
	<span class="negrilla">Version:</span> 2.0<br/>
	<span class="negrilla">Autor:</span> Diego Jácome <br/> <br/>
	<md-icon md-font-icon="ion-social-whatsapp-outline s24" md-colors=" {color: 'green'}"></md-icon> &nbsp; &nbsp; 0983113543 <br/><br/>
	<md-icon md-font-icon="ion-android-mail s24" md-colors=" {color: 'blue'}"></md-icon> &nbsp; &nbsp;diego10j.89@hotmail.com <br/>
</p>
</md-card-content>
</md-card>
</md-content>