<md-content class="md-padding" layout-xs="column" layout="row">
  


	<md-card>    
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Preguntas frecuentes</span>          
			</md-card-title-text>
		</md-card-title>

		<md-card-content layout-padding>      
			<div>

				<p class="negrilla">¿Qué es un Comprobante Electrónico?</p>

				<p>De acuerdo a disposiciones reglamentarias del SRI un comprobante electrónico puede ser una factura, nota de crédito, nota de débito o certificado de retención emitido en forma Electrónica y que ha sido autorizado en línea por el SRI.</p>
				<br/>
				<md-divider></md-divider>
				<br/>



				<p class="negrilla">¿Qué validez legal tiene un Comprobante Electrónico?</p>

				<p>Un Comprobante Electrónico emitido por Produquimic cumple con todos los requisitos legales y fiscales, por tanto tiene la misma validez que su equivalente físico. Estos documentos son autorizados en línea por el SRI y llevan consigo una firma digital emitida por una Entidad Certificadora autorizada, que asegura su autenticidad e Integridad. </p>
				<br/>
				<md-divider></md-divider>
				<br/>


				<p class="negrilla">¿Es seguro consultar mi factura por Internet?</p>

				<p>Sí, es seguro. Produquimic garantiza la privacidad de tu información,el ingreso a nuestro sistema para realizar la consulta requiere de una clave personal, que te asegura que sólo tu puedes acceder a tu facturación on line.</p>

				<br/>
				<md-divider></md-divider>
				<br/>
				</div>
				<div layout="row" layout-xs="column">
					<div flex>
						<p class="negrilla">¿ Por Qué ingresar al mundo de los Comprobantes Electrónicos?</p>
						<p>A mediano plazo, la emisión de Comprobantes Electrónicos será un requisito obligatorio exigido por el SRI.</p>
						<br/>
						<p>Adicionalmente, el esquema conlleva las siguientes ventajas:</p>
						<br/>
						<p> <i class="ion-checkmark iconoLista" ></i> Eliminar el consumo de papel y su transporte, con el consiguiente efecto positivo sobre el medio ambiente.</p>
						<p> <i class="ion-checkmark iconoLista" ></i> Envío y recepción instantánea del documento.</p>
						<p><i class="ion-checkmark iconoLista" ></i>Facilidad en los procesos de Auditoría.</p>
						<p><i class="ion-checkmark iconoLista" ></i>Mayor seguridad en el resguardo de los documentos.</p>
						<p><i class="ion-checkmark iconoLista" ></i>Menor probabilidad de falsificación.</p>
						<p><i class="ion-checkmark iconoLista" ></i>Agilidad en la localización de información.</p>
						<p><i class="ion-checkmark iconoLista" ></i>Eliminación de espacios y costos de almacenamiento de documentos históricos.</p>
						<p><i class="ion-checkmark iconoLista" ></i>Procesos administrativos más rápidos y eficientes.</p>
						<br/>
					</div>
					<div flex="125" layout="row"  layout-sm="column" layout-align="center center" layout-wrap> 
  						<img src="img/im_beneficios.png"/>
					</div>
				</div>

			
		</md-card-content>
	</md-card>

</md-content>