  <md-card>    
    <md-card-content>
    <div layout="row" layout-align="center center" >
        <form name="frmConsulta">        
         <md-input-container style="width: 155px;height:20px;">
          <label>Tipo de Comprobante</label>
          <md-select  ng-model="tipoComprobante">
            <md-option ng-repeat="actualTipoComprobante in listaTipoComprobante" value="{{actualTipoComprobante}}">{{actualTipoComprobante}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container style="width: 185px; height:20px;">
         <label>Fecha Desde</label>
         <md-datepicker title="DD-MM-YYYY" ng-model="fechaDesde" placeholder="Fecha Desde" md-max-date="fechaMaxima" ng-required="true" required>
         </md-datepicker>
       </md-input-container>
       <md-input-container style="width: 185px;height:20px;">
         <label>Fecha Hasta</label>
         <md-datepicker title="DD-MM-YYYY" ng-model="fechaHasta" placeholder="Fecha Hasta" md-max-date="fechaMaxima" ng-required="true" required>
         </md-datepicker>
       </md-input-container>   
       <md-input-container style="padding-left:15px;height:40px;">       
         <md-button class="md-raised md-primary" ng-click="buscar()" aria-label="Buscar" data-ng-disabled="frmConsulta.$invalid">
          <i class="ion-android-search"></i>
          Buscar
        </md-button>
      </md-input-container>
    </form> 
  </div>
  <div layout="row" style="width: 100%;height: 300px;" ui-grid-pagination ui-grid-cellnav ui-grid-selection ui-grid="gridOptions"></div>       
</md-card-content>
</md-card>






