<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body style='font-family: sans-serif;margin: 0;padding: 0;font-size: 13px;overflow: hidden;'>
<div>
	<div align="right" style="background: #4A9140;width: 99%;color: white;padding-right:15px;height:33px;font-size:20px;"> <div style="height:33px;vertical-align:middle;display: table-cell;"> Comprobantes Electrónicos</div></div>
	<br/>
	<div style="padding-left:15px"> 
	<p>Estimado cliente JACOME GUAYASAMIN DIEGO FERNANDO, </p>
	<p> Se registro exitosamente en el sistema. Por favor ingrese a <a href="http://comprobantes.produquimic.com.ec">http://comprobantes.produquimic.com.ec</a> y digite la contraseña indicada a continuación:</p>
	<p><strong>Usuario:</strong> 1719020883
	<br/><strong>Contraseña temporal:</strong>  1719020883</p>	
	
	<p>Gracias por preferirnos.</p>	
	<img src="http://produquimic.com.ec/images/logo_mail.gif">
	<br/>
	Teléfonos: 2692634  -  3651120
	<br/>
	Celular: 0998224739
	<br/>
	<a href="http://produquimic.com.ec">http://www.produquimic.com.ec</a>
	<br/>
	<br/>
	</div>
	<div align="left" style="display:block;background: #4A9140;width: 100%;color: white;padding-left:15px;padding-right:15px;font-size:13px;padding-top: 7px;padding-bottom: 7px;">
	NOTA. Esta es una notificación automática, por favor no responder este correo electrónico. Cualquier duda o inconveniente favor contactarnos al correo <strong><a style="color: white" href="mailto:sistemas@produquimic.com.ec?Subject=Ayuda" target="_top">sistemas@produquimic.com.ec</a></strong>    
	</div>
</div>
</body>
</html>

